.container{
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: start;
    background-color: rgb(221, 232, 231);
    margin-top: 1rem;
    gap: 20px;
}

#map{
    align-self: center;
    border-style: solid;
    border-width: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 20rem;
}

#display{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#roomDisplay{
    border-color: black;
    border-width: 3px;
}

#buildingInfo{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 3px;    
}