.container{
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: start;
    background-color: rgb(221, 232, 231);
    margin-top: 1rem;
}

#map{
    border-style: solid;
    border-width: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 20rem;
}